.description{
	margin-top: 50px;
	margin-bottom: 50px;
}
.description p::first-letter {
  font-size: 1rem;
  font-weight: 600;
}
.description p{
	margin-bottom: 30px;
}
.description h1,h2,h3,h4,h5 {
  text-align: center;
}
.blog-post{
	padding: 5%;
}