.image-popup{
	 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9);
}

.image-in-popup {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.image-in-popup {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
  .image-in-popup {
    width: 100%;
  }
}
.center{
	text-align: center;
}
.w-100 {
    height: 37vw!important;
    width: 100%!important;

}
