{% extends 'main/base.html'%}
{% load static %}
{% block title%}Heavenly Hitched {% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mincho&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "main/css/contactmeform.css" %}">
{% endblock %}


{% block body%}
<div class="message-container">
	<img class="message-background-img"src="{% static "main/images/home/message-background.jpg" %}"  alt=" background for theme message" style="width:100%;">

	<div class="message-block">
		<h3>You Dream it, We Take Care Of It</h3><hr>
		<p style="float:right;">~Heavenly hitched</p>

	</div>
</div>​
<div class="message-block-small">
	<h5>You Dream it, We Take Care Of It</h5><hr>
	<p >~Heavenly hitched</p>

</div>
    <div class="body-container border-padding-less">
	<div class="what-we-do">
		<div class="center"><h2>What We Do</h2></div>
		<div class="row ">
			<div class="col-sm-4 ">
				<h5>Venue booking</h5>
				<p>We offer you most supreme and affordable locations in Delhi-NCR.</p>
			</div>
			<div class="col-sm-4">
				<h5>Hospitality & Logistics</h5>
				<p>Wedding is probably the most significant day of anyone’s life. But also the talk of the town . Heavenly Hitched promises the most comfortable and hustle free wedding so, you will be the most admired host.
				</p>
			</div>
			<div class="col-sm-4">
				<h5>Decor & Styling</h5>
				<p>Decoration is one of the crucial factor of wedding. Here we are to give you the most trendy themes, the picturesque venue and also the cost-effective stylings.</p>
			</div>

		</div>

		<div class="row ">
			<div class="col-sm-4">
				<h5>Gifting</h5>
				<p>Any amount of gratitude is not enough for those who blessed you on your wedding. Some personalized gifts and goodies would be sweetest gesture and a token of love and respect. We respect your sentiments and assure you to ace the giftings.</p>
			</div>
			<div class="col-sm-4">
				<h5>Photo & Videography</h5>
				<p>Photos and videos are here to cherish forever. We have professional team mates , who have firm hands in videography and photography. So be ready for the cinematic pre-wedding shoot and perfect pictures of every special moment.</p>
			</div>
			<div class="col-sm-4">
				<h5>Hair & Makeup</h5>
				<p>A bride is the most excited person when it comes to look. Wait! Why only bride? The groom has to be look flawless. Heavenly Hitched helps you to look nothing more than perfect on your D-day.</p>
			</div>

		</div>
	</div>

	<div class="row border-padding">
		<div class="col-sm-4 py-3 ">
			<a href="{% url 'main:services' %}">
				<img src="{% static "main/images/home/services-background.jpg" %}" class="center-image" alt="background for theme message" >
				<div class="thumb-caption">Services</div>

			</a>
		</div>

		<div class="col-sm-4 py-3 ">
			<a href="{% url 'main:gallery' %}">
				<img src="{% static "main/images/home/gallery-background.jpg" %}" class="center-image"alt="background for theme message" >
				<div class="thumb-caption">Gallery</div>
			</a>

		</div>

		<div class="col-sm-4 py-3 ">
			<a style="padding-right:0px;"href="{% url 'main:about' %}">
				<img src="{% static "main/images/home/about-background.jpg" %}" class="center-image"alt="background for theme message" >
				<div class="thumb-caption">About</div>
			</a>

		</div>
	</div>

	<div class="why-us center">

		<h1>Why us?</h1><hr>
		<div class="border-padding-less">
			<h3>Why choose us as your Destination wedding planner?</h3>

			<p>Even small decisions can add up to big savings when you have a planner what they are doing. Here we assure you to make the most of your wedding budget. We help to coordinate right from the engagement to reception. You just need to cherish each and every moment of your wedding. We are here to make your wedding a piece of cake for you. We are there to manage the conversations between you and the venue, negotiating rates for things like catering and confirming the timeline to ensure everything goes smoothly
			</p>

		</div>

		<div class="border-padding-less">
			<h3>Decor and Venue Bookings</h3>

			<p>Wedding decoration is one of the most considered attractions of one’s D-day. The right decoration adds life to the surrounding. Heavenly hitched promise you the drooling venues and decors which make everyone stop and stare. Right from the welcome board to tables of the celebrants and to the aisle runner, everything that matches your wedding fantasies. We are furnishing nearly every decor style the contemporary, minimalist and traditional. We persuade the trendiest weddings in the town in Delhi-NCR.

			</p>
		</div>


		<hr>
	</div>

	<div class="row">

		<div class="col-md-6">
			<div class="center border-padding-less">
				<br>
				<h1>How We Work</h1>

				<p class="border-padding">  As your wedding companion we, lay hold on every  responsibilities from drafting timeline and working with bride and groom to their attires , every ceremony, venues, guests , music, dance and food. We are full service planners, we specially eyed your budget and turn magic into reality.
				</p>
				<p>We are here to handle the shopping , so you will have a stress free day. We will provide the best photographers of the town for those perfect shots of your wedding which you can cherish live long. We guarantee you the “oh so delicious food”, and the most picturesque vendors. And yes, we owned the entertainment section also.
				</p>
			</div>
		</div>


		<div class="col-md-6 center border-padding-1">
			<div>
				<br>
				<h3>Request a call? Just fill this out</h3>
				<!-- Default form register -->
				{% include 'main/contactme_form.html' %}
			</div>


		</div>

	</div>
</div>


	{% endblock %}